<<<<<<< HEAD
body {
  background-image: url(./wallpaper.jpg);
  background-repeat: repeat;
  background-size: 200px auto;
}

=======
>>>>>>> 6ea761fb8270d7cd7c05e6c1400fe4a66e1238f9
.results {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
<<<<<<< HEAD
  background: rgba(0,0,0,0.7);
=======
  background: rgba(0,0,0,0.4);
>>>>>>> 6ea761fb8270d7cd7c05e6c1400fe4a66e1238f9
  text-shadow: 0 0 .5rem black;
}

.button:hover {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: coral;
  text-shadow: 0 0 .5rem black;
}

.altbutton {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: lightblue;
<<<<<<< HEAD
  opacity: 0.9;
=======
>>>>>>> 6ea761fb8270d7cd7c05e6c1400fe4a66e1238f9
  text-shadow: 0 0 .5rem black;
}
.alt1button {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
<<<<<<< HEAD
  background: lightpink;
  opacity: 0.9;
=======
  background: violet;
>>>>>>> 6ea761fb8270d7cd7c05e6c1400fe4a66e1238f9
  text-shadow: 0 0 .5rem black;
}

.resButton {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  width: 10rem;
  min-height: 35px;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}